<div class="container">
    <form (submit)="addJob($event)">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]='title' name="title">
        </div>
        <div class="form-group">
            <label for="discipline">Discipline</label>
            <input type="email" class="form-control" id="discipline" [(ngModel)]='discipline' name="discipline">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" [(ngModel)]='description'
                name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="email" class="form-control" id="location" [(ngModel)]='location' name="location">
        </div>
        <div class="form-group">
            <label for="organizationName">Organization Name</label>
            <input type="email" class="form-control" id="organizationName" [(ngModel)]='organizationName'
                name="organizationName">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com"
                [(ngModel)]='emailAddress' name="emailAddress">
        </div>
        <div class="form-group">
            <label for="hoursPerWeek">Estimated hour per week</label>
            <input type="email" class="form-control" id="hoursPerWeek" [(ngModel)]='hoursPerWeek' name="hoursPerWeek">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>